<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="Donar Name">Donar Name</label>
                    <input type="Donar Name" placeholder="Donar Name" class="form-control">
                    
                </div>
                <div class="col col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="Blood Group">Blood Group</label>
                    <select name=""  id="" class="form-control">
                        <option value="Select">Select</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                    </select>
                </div>
                <div class="col col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="D.O.B">D.O.B</label>
                    <input type="date"name="" id="" class="form-control">
                </div>
                <div class="col col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="Last doantion date">Last doantion date</label>
                    <input type="date"name="" id="" class="form-control">
                </div>
                <div class="col col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="Previous Disease">Previous Disease</label>
                    <input type="Previous Disease" placeholder="Previous Disease" class="form-control">
                </div>
                <div class="col col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="Last Vaccination Date">Last Vaccination Date</label>
                    <input type="date"name="" id="" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="Address">Address</label>
                    <textarea name=""  id="" cols="30" rows="10" placeholder="Address" class="form-control"></textarea>
                </div>
                <div class="col col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="Pincode">Pincode</label>
                    <input type="Pincode" placeholder="Pincode" class="form-control">
                </div>
                <div class="col col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="Mobile No.">Mobile No.</label>
                    <input type="Mobile No." placeholder="Mobile No." class="form-control">
                </div>
                <div class="col col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="Email ID">Email ID</label>
                    <input type="email" placeholder="Email ID" name="" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</div>