<app-navbar></app-navbar>
<h1>View All</h1>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Websites</th>
                    </tr>
                    </thead>
                <tbody>
                  <tr *ngFor="let i of donarData">
                    <td>{{i.name}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.name}}</td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>
</div>